*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 30px;
    color: black;
    font-weight: 100;
    text-decoration: none;
    margin-left: 50px;
    font-family: serif;
}
.navbar a:hover{
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    background-color: orangered;
    letter-spacing: 2.5px;
}
/* .........header .......... */


.main{
    padding-top: 7%;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.aside{
    padding-left: 30px;
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    border-radius: 34% 64% 77% 16% / 74% 54% 45% 18% ;
    background-image: url(g29.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 34% 64% 77% 16% / 74% 54% 45% 18%   ;
    animation: aside 20s infinite;
}
@keyframes aside{
    0% {
        background-image:url(g25.jpg);
    }
    30% {
        background-image:url(g24.jpg);
    }
    55% {
        background-image:url(g26.jpg);
    }
    75% {
        background-image:url(g23.jpg);
    }
   
    100%{
        background-image:url(g20.jpg);
    }
   
}
.aside:hover{
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.78);
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);

}
.form{
    padding-left: 220px;
}
form{
    
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7;

}
label{
    font-size: 20px;
    color:black;
    margin-left: 10%;
    /* opacity: .8; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
label:hover{
    color: orangered;
    transition: .4s ease;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    /* opacity: 0.8 ; */
    
}
button{
    width: 50%;
    margin: 3% auto;
    color: black;
    font-size: 15px;
    opacity: .7;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 30px ;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2) ;
    box-shadow: 3px 3px 5px rgba(31,38,135,.37) ;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

}
button:hover{
    background: orangered;
    transition: .4s ease;
    cursor: pointer;
    color: white;
}

a{
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   color: white;
   /* opacity: .7; */

}
#icon{
    padding-left: 90px;
    font-size: 70px;
   }

  

   @media screen and (max-width:600px){

    .main{
        padding-top: 45%;
        padding-left: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* position: fixed; */
        
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 30px;
        background-color:#fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .form{
        padding-left: 0px;
        padding-top:25% ;
    }
    .aside{
        /* padding-left: 150px; */
        width: 350px;
        height: 350px;
        /* border: 1px solid black; */
        border-radius: 34% 64% 77% 16% / 74% 54% 45% 18% ;
        background-image: url(g29.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 34% 64% 77% 16% / 74% 54% 45% 18%   ;
        animation: aside 20s infinite;
    }
   }